<%-  include("partials/header") -%>
    <h1>Compose</h1>
    <form action="/create" method="post">
        <div>
            <label>Title</label>
            <input  type="text"  name="composeTitle">
        </div>
        <div>
            <label>content</label>
            <textarea  name="composeContent" rows="6"></textarea>
        </div>
        <div>
            <label>Author</label>
            <input  type="text"  name="author">
        </div>
        <button  type="submit" name ="submit" autocomplete="off">Publish</button>
    </form>
<%- include("partials/footer") -%> 